node_modules
# Keep environment variables out of version control
.env
!.env.example
.env
.env.local

/dist/
dist/

#Virer les logs
logs/
*.log

#Virer certs server
certs/
certs/*.pem
/docs/*
.DS_Store
.vscode/
.idea/logs/
